@use './vars';
@use './mixin';

.alix {
    display: flex;
    flex-direction: column;
    position: absolute;
    font-family: 'fette', sans-serif;
    color: vars.$font-color-tags;
    font-size: 1em;
    top: 50%;
    left: 60%;
    background-color:rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);

    @include mixin.medium {
        font-size: 0.7em;
    }
    
    @include mixin.small {
        font-size: 0;
    }
}
