@use './vars';
@use './mixin';

.ficheinfo{
    position: absolute;
    background-color:vars.$font-color-tags ;
    border-radius: 1rem;
    font-family: 'fette', sans-serif;
    width: 25rem;
    padding: 0.5rem;
    z-index: 10;

}
.cacher{
    display: none;
}