@use './vars';
@use './mixin';




.julien {
    display: flex;
    flex-direction: column;
    align-items:center;
    position: absolute;
    top: 55%;
    left: 41%;

    @include mixin.medium {
        font-size: 0.7em;
        top: 56%;
        left: 40%;
        
    }
    
    @include mixin.small {
        font-size: 0;
        top: 57%;
        left: 39%;
    }
    button{
        background-color:transparent;
        border-color: transparent; 
        color: vars.$font-color-tags;
         font-family: 'fette';
         font-size: 0.9em;

    }
}

