@use './vars';
@use './mixin';

// Change New-name par ton prénom
.kevin {
    display: flex;
    flex-direction: column;
    align-items:center;
    position: absolute;
    top: 58.5%;
    left: 54%;

    @include mixin.medium {
        font-size: 0.7em;
    }
    
    @include mixin.small {
        font-size: 0;
    }

}