@use './vars';
@use './mixin';
.philippe {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 9%;
    left: 52%;
   

    @include mixin.medium {
        font-size: 0.7em;
    }

    @include mixin.small {
        font-size: 0;
    }


}
