@use './vars';
@use './mixin';

// Change New-name par ton prénom
.sylvain {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left:55%;

    @include mixin.medium {
        font-size: 0.7em;
    }
    
    @include mixin.small {
        font-size: 0;
    }
}